html
  head
    title= title
  body
    h1 Sign in
    form(action="/login" method="post")
      label email
      input(name='email')
      label password
      input(name='password' type="password")
      input(type='submit')
    a(href="/") Don't have an account?  Sign up!
    p(style={color: 'red'})= error